* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FDF2E9;
    color: black;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #F5CBA7;
    position: fixed;
    top: 0;
    width: 100%
}

.my-pic {
    height: 200px;
    width: 150px;
    padding: 10px 20px;
    border: 4px solid #E74C3C;
    border-radius: 50%;
    background-color: #F5CBA7;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #784212;
    font-size: 1.04rem;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.5rem;

}

.leftSection .buttons {
    padding: 30px 0;
}

.leftSection .btn {
    padding: 12px;
    background-color: #F5CBA7;
    color: black;
    border: 4px solid #C0392B;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.rightSection img {
    width: 100%;
}

.purple {
    color: blueviolet;
}

.text-gray {
    color: gray;
}

#element {
    color: blueviolet;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    font-size: 1.5rem;
    height: 80vh;
}

.thirdSection {
    max-width: 80vw;
    margin: auto;
    font-size: 1.5rem;
    height: 60vh;
}

.fourthSection {
    max-width: 80vw;
    margin: auto;
    font-size: 1.5rem;
    height: 40vh;
}

.desc {
    color: gray;
    font-size: 15px;
}

.fifthSection {
    max-width: 80vw;
    margin: auto;
    font-size: 1.5rem;
    height: 40vh;
}

.fifthSection .btn {
    padding: 12px;
    background-color: #F5CBA7;
    color: black;
    border: 4px solid #C0392B;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.secondSection .box {
    background: #7B241C;
    height: 2px;
    width: 77vw;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    background: #7B241C;
    height: 93px;
    width: 2px;
    margin: 0 140px;
}

.thirdSection .box {
    background: #7B241C;
    height: 2px;
    width: 80vw;
    margin: 56px 0;
    display: flex;
}

.thirdSection .vertical {
    background: #7B241C;
    height: 93px;
    width: 2px;
    margin: 0 200px;
}

main hr {
    border: 0;
    background: #6E2C00;
    height: 2px;
    margin: 40px 84px;
}

.image-top {
    width: 35px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    width: 150px;
    color: gray;
    font-size: 12px;
}

footer {
    background-color: #FAE5D3;
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-between;
}

.footer ul {
    list-style: none;
}

/* .footer>div {
    width: 200px;
} */
.footer .icons{
    height: 30px;
    width: 30px;
    margin: 0 10px;
}
footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}